<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/confirm.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/footer.css') }}">
    <title>Order Confirmation</title>
</head>
<body>
  <header class="header">
    <div class="container">
      <div class="menu-toggle">
        <i class="material-icons">menu</i>
      </div>
      <nav class="show-menu">
        <ul>
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('products') }}">Shop</a></li>
          <li><a href="{{ url_for('recipe') }}">Recipes</a></li>
          <li><a href="{{ url_for('videos') }}">Videos</a></li>
          <li>
            <form action="/search" method="GET">
              <input type="search" name="query" placeholder="Search the grocery shop...">
              <button type="submit"><i class="material-icons">search</i></button>
            </form>
          </li>
        </ul>
      </nav>
      <div class="user">
        <div class="profile">
          <a href="{{ url_for('profile') }}"><i class="material-icons icon-large">account_circle</i>Account</a>
        </div>
        <div class="cart">
          <a href="{{ url_for('cart') }}">
            <i class="material-icons">shopping_cart</i>
            {% if cart_count > 0 %}
            <span id="cart-count">{{ cart_count }}</span>
            {% endif %}
          </a>
        </div>
      </div>
    </div>
  </header>
  <h1>Thank You For Shopping Order Confirmed</h1>
  <div class="order-items">
    <h2>Order ID: {{ order_id }}</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Image</th>
          <th>Category</th>
        </tr>
      </thead>
      <tbody>
        {% for product in order_products %}
        <tr>
          <td>{{ product[1] }}</td>
          <td>{{ product[2] }}</td>
          <td>KZT {{ product[3] }}</td>
          <td><img src="{{ url_for('static', filename=product[4]) }}" alt="{{ product[1] }}" width="100"></td>
          <td>{{ product[5] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <p>Total Amount: KZT {{ total_price }}</p>
  </div>
  <div class="ship-container">
    {% for ship in shipping_info %}
    <h2>Shipping Information</h2>
    <p>Full Name: {{ ship[2] }}</p>
    <p>Street Address: {{ ship[3] }}</p>
    <p>City: {{ ship[4] }}</p>
    <p>State/Province: {{ ship[5] }}</p>
    <p>Postal Code: {{ ship[6] }}</p>
    <p>Country: {{ ship[7] }}</p>
    {% endfor %}
  </div>
  <form action="{{ url_for('home') }}" >
      <button type="submit">Return</button>
  </form>
  <footer>
    <div class="container">
      <div class="footer-columns">
        <div class="footer-column">
					<h3>The Team K</h3>
					<ul>
						<li><a href="https://www.instagram.com/tlemissov_?igsh=MTFtMW9oZWNuOGFydA==" target="_blank">K.Nurken</a></li>
						<li><a href="https://www.instagram.com/mfkulthere?igsh=cTd6YnAyN2NjOGpp==" target="_blank">K.Yeldos</a></li>
						<li><a href="https://www.instagram.com/adalinio?igsh=Y2psMngxYW5pc3hq==" target="_blank">K.Adal</a></li>
					</ul>
	<ul class="social-media-icons" style="display: flex; justify-content: flex-start; padding: 0; margin: 0; list-style: none;">
    <li style="margin-left: 0;">
        <a href="https://github.com/" target="_blank">
            <img src="{{ url_for('static', filename='images/github.svg') }}" alt="github" style="width: 32px; height: 32px; margin: 0;">
        </a>
    </li>
    </ul>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
